<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 text-align:center" >
<div id="page-content">
  <h2 class="text-center mt-4">Your Search results:</h2>
<% @results.each do |result| %>
    <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          by <%= link_to result.user.username, user_path(result.user), method: :get, class: "nav-link" %>
        </div>
        <% if result.categories.any? %>
        <div class="mt-2">
        <%= render result.categories %>
        </div> 
      <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to result.title, article_path(result), class: "text-success" %></h5>
          <p class="card-text"><%= truncate(result.description, length: 100) %></p>
          <%= link_to "View", article_path(result), class: "btn btn-outline-success" %>
          <% if logged_in? && (result.user == current_user || current_user.admin?) %>
            <%= button_to "Edit", edit_article_path(result), class: "btn btn-outline-info", method: :get %>
            <%= button_to "Delete", article_path(result), class: "btn btn-outline-danger", method: :delete, onclick: "return confirm('Are you sure?')" %>
          <% end %>
          </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(result.created_at) %> ago, 
          edited <%= time_ago_in_words(result.updated_at) %> ago</small>
        </div>
      </div>
      <%= link_to '[ Return to articles listing ]', articles_path, class: "text-info" %>
    </div>
  </div>
<% end %>  
</div>
</div>  
</div>  