<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<div class="text-center mt-4">
<div class="card-header font-italic">

          by <%= @article.user.username if @article.user %>
         
          <% if @article.categories.any? %>
            <div class="mt-2">
            <%= render @article.categories %>
            </div> 
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text text-left"><%= simple_format(@article.description) %></div>
          <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
          <%= button_to "Edit", edit_article_path(@article), method: :get, class: "btn btn-outline-info" %>
          <%= button_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@article.created_at) %> ago, 
          edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

