<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>
<div class="text-center mt-4">
<%= button_to "Create an Article", new_article_path,method: :get, class: "btn btn-outline-info" %>
<% if logged_in? && @user == current_user %>
<%= button_to "Edit your profile", edit_user_path(@user),method: :get, class: "btn btn-outline-info" %>
<%= button_to "Delete your profile", user_path(current_user), class: "btn btn-outline-danger", method: :delete, onclick: "return confirm('Are you sure? This will delete your account and all related articles')" %>
<% if current_user.admin? %>
<%= button_to "Create a Category", new_category_path, method: :get, class: "btn btn-outline-info" %>
<% end %>
<% end %>
</div>
<h3 class="text-center mt-4">Articles</h3>
<div class="flickr_pagination">
   <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles/article' %>
<div class="flickr_pagination mb-4">
   <%= will_paginate @articles, :container => false %>
</div>
</div>
</div>
